{% extends 'base.html.twig' %}

{% set title = 'Main page' %}
{% block title %}{{ title }} | {{ parent() }}{% endblock title %}

{% block content %}
    <h3>Add category</h3>
    {{ form(form) }}
{% endblock content %}